<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<meta charset="utf-8">
<head>
    <meta charset="UTF-8">
    <title>切换主题</title>
</head>
<body class="white-bg">
    <div class="form-group">
        <label class="col-sm-3 control-label">选择主题：</label>
        <div class="col-sm-8">
            <label th:each="skin:${skins}" class="check-box">
                <input name="role" type="checkbox" th:value="${skin.skinId}" th:text="${skin.skinName}" th:disabled="${skin.status == '1'}">
            </label>
        </div>
    </div>
</body>
</html>